#status {
  position: absolute;
  left: 300px;
  top: 30px;
}
#virus_icon {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}
#virus_background {
  position: absolute;
  left: 40px;
  top: 20px;
  width: 520px;
  height: 30px;
  background-color: #ebebeb;
  opacity: 0.5;
  border-radius: 30px;
}
#virus_status {
  position: absolute;
  left: 40px;
  top: 25px;
  width: 10px;
  height: 20px;
  background: red;
  background: linear-gradient(90deg, #ed3740 0%, #0b0b71 65%, #8c00ff 100%);
  border-radius: 30px;
}
#money_div {
  position: absolute;
  left: 45px;
  top: 50px;
  width: 100px;
  height: 40px;
  margin: 0;
  background-image: url(../images/money.png);
}
#money_div p {
  position: absolute;
  left: 47px;
  color: #382615;
}

.modal {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  width: 800px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.9);
}
.modal-content {
  margin: auto;
  border-collapse: collapse;
  text-align: center;
}
.modal-content h3 {
  color: #eb9f8a;
}
.modal-content h1 {
  color: silver;
}
.modal-content p {
  font-size: 16px;
  color: gray;
}
#ref {
  font-size: 12px;
  color: silver;
}
.modal-content a {
  background: rgba(255, 255, 255, 0);
  border: 5px solid #eb9f8a;
  border-radius: 30px;
  display: inline-block;
  cursor: pointer;
  color: #eb9f8a;
  font-size: 25px;
  padding: 16px 50px;
  text-decoration: none;
}
.modal-content a:hover {
  background: rgba(255, 159, 138, 0.2);
}
.modal-content a:active {
  background: rgba(255, 159, 138, 0.6);
  color: white;
}
